<% provide(:title, 'About') %>

<div class="row">
  <h2 class="center">About Epicodus Exchange</h2>
</div>

<div class="row">
	<div class="large-offset-2 large-8 small-12 columns">
		<p>
			This website is modeled on <%= link_to 'Stack Exchange', 'http://stackexchange.com/', target: '_blank' %>.
		</p>

		<p>
			Epicodus Exchange was created by <%= link_to 'Julie Steele', 'http://juliesteele.site44.com', target: '_blank' %> for use by Epicodus students.
		</p>

		<p>
			The purpose of this website is to provide students with a private question-and-answer forum for coding problems relating to their class assignments.
		</p>
	</div>
</div>