<% provide(:title, 'Help') %>

<div class="row">
  <h2 class="center">Help</h2>
</div>

<div class="row">
	<div class="large-offset-2 large-8 small-12 columns">
		<div class="panel">
			<p>
				Guests may view all posts and student profiles.
			</p>
			<p>
				Only registered users may post questions and answers.
			</p>
		</div>
		<div class="panel">
			<h4>
				Upvoting
			</h4>
			<hr>
			<p>
				Upvote questions to increase the urgency of the question.  Questions display on the home page ranked by time posted and number of votes, so questions with the most votes will show highest (and be answered soonest).
			</p>
			<p>
				Upvote answers that were helpful to you.  Answers display on the page ranked by number of votes - the most useful answers will display first.
			</p>
		</div>
		<div class="panel">
			<h4>
				Comments
			</h4>
			<hr>
			<p>
				Use comments to clarify questions or follow-up on a specific answer.
			</p>
		</div>
		<div class="panel">
			<h4>
				Karma
			</h4>
			<hr>
			<p>
				Students earn karma when an answer they have posted is upvoted.  Your rank indicates how much karma you have compared to all other students.
			</p>
		</div>
	</div>
</div>