<li>
  <%= comment.content %>
  <p>
    <%= comment.created_at.strftime("%d %b '%y") %>
    <% if current_user && current_user == comment.user %>
     | <%= link_to 'edit comment', edit_comment_path(comment) %>
     | <%= link_to 'delete comment', comment_path(comment_id: comment.id), method: :delete, data: { confirm: 'Delete comment?' } %>
    <% end %>
  </p>
</li>