<div class="row">
  <h2 class="center">Epicodus Roster</h2>
</div>

<%= render 'search_users_form'%>

<div class="row">

  <div class="large-offset-1 large-10 columns">
    <h4 class="subheader">
    	<% if @keywords.nil? %>
	    	Students
	    <% else %>
	    	<%= pluralize(@users.count, "student") %> matching "<%= @keywords %>"
	    <% end %>
    </h4>
    <hr>
  </div>

  <%= render 'users_results', users: @users %>

</div>

