<% if answer.comments.any? %>
  <div class="large-offset-1">
    <ul class="plain-ul comments-ul">
      <% answer.comments.each do |comment| %>
        <li>
          <%= comment.content %>
          <p>
            <%= link_to "#{answer.user.first_name} #{answer.user.last_name}", user_path(comment.user), target: '_blank' %>
             | <%= comment.created_at.strftime("%d %b '%y") %>
            <% if current_user && current_user == comment.user %>
             | <%= link_to 'delete comment', comment_path(id: comment.id), method: :delete, data: { confirm: 'Delete comment?' } %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>