<% if answer.comments.any? %>
<div class="large-offset-1">
  <ul class="plain-ul">
    <% answer.comments.each do |comment| %>
      <li>
        <%= comment.content %>
        <p>
          <%= comment.created_at.strftime("%d %b '%y") %>
           | <%= link_to 'edit comment', edit_comment_path(comment) %>
           | <%= link_to 'delete comment', comment_path(comment_id: comment.id), method: :delete, data: { confirm: 'Delete comment?' } %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
<% end %>