<div class="row">
  <h2 class="center">Salutations!</h2>
</div>

<%= render 'search_posts_form'%>

<div class="row">

  <div class="large-offset-1 large-10 columns">
    <h4 class="subheader">New Questions</h4>
    <hr>
  </div>

  <%= render 'post_results', posts: @posts %>
</div>

