<div class="row">
  <h2 class="center">Salutations!</h2>
</div>

<%= render 'search_posts_form'%>

<div class="row">

  <div class="large-offset-1 columns">
    <h4 class="subheader"><%= pluralize(@posts.count, "result") %> for "<%= @keywords %>"</h4>
  </div>

  <%= render 'post_results', posts: @posts %>
</div>
