<div class="row">
  <h2 class="center">Title Goes Here!</h2>
</div>

<%= render 'search_posts_form'%>

<div class="row">

  <div class="large-offset-1 columns">
    <h4 class="subheader">Results</h4>
  </div>

  <%= render 'post_results', posts: @posts %>
</div>

