@import "foundation/variables",
        "foundation/components/global",
        "foundation/components/buttons",
        "foundation/components/forms",
        "foundation/variables",
        "foundation/components/alert-boxes";

$faded: #6f6f6f;
$footer-text: #999999;
$footer-links: #555555;
$code: #000082;
$logo-1: #2ba6cb;
$logo-2: #2284a1;
$background: #555555;

body {
  background-image: image-url('grey_wash_wall.png');
}

pre {
  color: $code;
}

.logo-color-1 {
  color: $logo-1;
}

.logo-color-2 {
  color: $logo-2;
}

.panel {
  border-color: $logo-1;
  border-radius: 5px;
}

.super-panel {
  background-image: image-url('cream_dust.png');
  border-color: $logo-2;
  border-width: 2px;
  border-radius: 5px;
  margin: 4em;
}

.debug-panel {
  margin-top: 2em;
  border-radius: 0;
}

.center {
  text-align: center;
}

.hr-footer {
  margin-top: 2.5em;
  margin-bottom: .5em;
}

.footer-text {
  font-size: .8em;
  color: $footer-text; 
}

.align-right {
  text-align: right;
}

.extra-padding-right {
  padding-right: 8em;
  padding-left: 6.5em;
}

.extra-padding-left {
  padding-left: 4em;
}

.large-margin-top {
  margin-top: 2em;
}

footer a {
  color: $footer-links;
}

.text-area {
  height: 10em;
}

.post-listing-title {
  
}

.post-listing-details {
  font-size: 0.8em;
}

.comment {
  font-size: 20px;
  margin-top: 6px;
}

.comments {
  margin-top: 40px;
}

.character-count {
  font-size: .8em;
}

.field_with_errors {
  @extend .error;
}

.links {
  margin-top: 20px;
}

.extra-margin-bottom {
  margin-bottom: 1em;
}

.extra-margin-top {
  margin-top: .8em;
}


.lesser-size {
  font-size: .9em;
}

.super-thin {
  margin-top: 0em;
  margin-bottom: 0em;
}

.plain-ul {
  list-style-type: none;
}

.comments-ul p {
  margin-bottom: 8px;
}

.comment-content {
  font-size: .9em;
  color: $faded;
}

.comment-info {
  font-size: .8em;
  color: $faded;
}

.large-text-input {
  height: 20em;
}

.small-text-input {
  height: 5em;
}

.post-title {
  margin-top: .7em;
  margin-bottom: .7em;
}

.no-margin-bottom {
  margin-bottom: 0em;
}

.pagination {
  background: white;
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2ba6cb;
    color: white;
  }
  a {
    text-decoration: none;
    color: #999999;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}